{% extends 'student_template/base_template.html' %}

{% block page_title %}
Sommaire d'assiduité
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>Sommaire d'assiduité</h1>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Matière</th>
                                <th>Nb. Presents</th>
                                <th>Nb. Absences</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for subject_attendance in subject_attendance_list %}
                                <tr>
                                    <td>{{ subject_attendance.subject_name }}</td>
                                    <td>{{ subject_attendance.total_presents }}</td>
                                    <td>{{ subject_attendance.total_absences }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock main_content %}
